/*HEADER*/
header{
background-color: deepskyblue;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
position: sticky;
top: 0;
max-height: 60px;
}

header nav{
margin: 7px 0;
}


header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color:;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}







.section-title{
    display:flex ;
    width: 30;
    justify-content: flex-start;
}
/*GRID*/
.work-grid-wrapper{
    display: flex;
    width: 100%;
    justify-content:flex-end ;
}
.work{
    display: flex
}

.work-grid-container{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 20px;
    border: 6;
    min-height: 400px;
    border:10px solid darkred;    
}

.grid-item-run-buddy{
    grid-column:1 / span 3;
    grid-row: 1 / span 3;
    text-align: flex-start;
    }
.future-project-1{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end: 6;
} 
.future-project-2{
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.future-project-3{
    grid-row-start: 1;
    grid-row-end: 4;
}
.future-project-4{
    grid-row-start: 1;
    grid-row-end: 6;
}